<% for(let tr of body) { %>
	<tr data-id="<%= tr.id %>">
		<td colspan="2"></td>
		<% for(let field of template) { 
			
			if (!field.input.match(/id|system/)) { %>
			<td name="<%= field.name %>"><input type="<%= field.input == "file" ? "text" : field.input %>" value="<%= field.input == "datetime-local" ? (new Date(tr[field.name])).toISOString().slice(0, 16) : tr[field.name] %>"></td>

		<% }} %>
		<td><button class="db_delete" type="submit" name="delete" data-id="<%= tr.id %>" >D</button></td>
		<td><button type="submit" name="update" value="<%= tr.id %>">U</button></td>
	</tr>
<% }; %>